<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">

        잔고 : <input type="text" v-model="amount" />
        <br>
        <span v-if="amount > 1000000"> Gold </span>
        <span v-else-if="amount >= 500000"> Sliver </span>
        <span v-else-if="amount >= 100000"> Bronze </span>
        <span v-else> Basic </span>

    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                amount: 0
            },
            methods: {

            }
        })
    </script>

</body>

</html>